<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Icebear's Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="header p-5 mb-5 text-center</> bg-light">
        <h1>My Blog</h1>
        <h4>블로그에 오신 것을 환영합니다.</h4>
    </div>
    <div class="container">
        <button type="button" id="create-btn" th:onclick="|location.href='@{/blog/article/new}'|"
                class="btn btn-secondary btn-sm mb-3">글 등록</button>
        <!-- 글 개수만큼 반복 출력 -->
        <div class="row-6" th:each="article: ${articleList}">
            <!--  카드 형식으로다가  -->
            <div class="card">
                <div class="card-header" th:text="${article.id}"></div>
                <div class="card-body">
                    <div class="card-title" th:text="${article.title}"><h5>title</h5></div>
                    <div class="card-text" th:text="${article.content}"><p>content</p></div>
                    <a th:href="@{/blog/article/{id}(id=${article.id})}" class="btn btn-primary">보러 가기</a>
                </div>
            </div>
            <br>
        </div>
        <!-- 로그아웃 버튼 -->
        <button type="button" class="btn btn-secondary" onclick="location.href='/logout'">로그아웃</button>
    </div>
    <script src="/js/article.js"></script>
</body>
</html>